* {
  flex-wrap: wrap;
}


.content{
  background-color: black;
}

.top{
  height: 698px;
  width: 100%;
  background: url(/Untitled_design.png) no-repeat 0px 0px fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img_top1{
  border-radius: 25px;
  width: 50%;
}
.img_top2{
  border-radius: 25px;
  width: 30%;
}

.empty{
  width: 100%;
  height: 110px;
  background-color: black;
}



.best_sellers{
  font-size: 50px;
  color: white;
  margin-left:130px;
 
}
.d-flex{
  margin-right: 130px;

}
.card{
  background-color: black;
}

.container1 {  display: grid;
  grid-template-columns: 285px 285px 285px 285px ;
  grid-template-rows: 422px;
  gap: 70px 70px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . .";
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    /* margin-top:40px; */

}
h1{
  color: white;
  justify-content: center;
}

.card-img-top{
  height: 255px;
width: 285px;
}
.card{
  background-color: black;
}


.shop_category {  display: grid;

    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 470px 1fr;
    gap: 100px 100px;
    grid-auto-flow: row;
justify-content: center;
}
.img{
  height: 470px;
  width: 330px;
  border-radius: 25px;

}

.names{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: white;
}
.all{
  background-color: rgb(34, 34, 34);
height: 580px;
}

.shop{
  font-size: 50px;
  color: white;
  background-color: rgb(34, 34, 34);
  margin-bottom: 0px;
  margin-left:150px;
 

}
.categories{
  width: 100%;
  height: 220px;
  background-color: rgb(34, 34, 34);
  display: flex;
  align-items: center;
}
.card{
  margin-top: 20px;
}

.card-title{
  display: flex;
  justify-content: center;
  font-size: 30px;

}
.card-text{
  display: flex;
  justify-content: center;
  font-size: 20px;
}
#btn {
  display: flex;
justify-content: center;
align-content: center;
border-radius: 10px;
color: black;
  margin-top: 25px;
  width: 130px;
  height: 40px;
  background-color: rgb(255, 255, 103);
  text-decoration: none;
  font-size: 25px;
}

#show_cart_btn{
  background: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
#show_cart_btn img{
  width: 25px;
  width: 25px;
}
.cart_shop{ 
  position: relative; 
  width: 50px;
  width: 50px;
  margin-left: 2rem;
}
.cart_content{
  position: absolute; 
    top: 50px; 
    right: 0; 
    z-index: 20;
    width: 400px; 
    height: 600px; 
    border-radius: 20px;
    background-color: grey; 
}

.after_sales{
  width: 100%;
  height: 600px;
  background-color: black;

}
.disckount{
  background-color: black;
  
}
.cherep{
  height: 400px;
}
.spend_save{
  width: 100%;
  height: 500px;
  background-color: rgb(255, 255, 255);
}
#can2{
  margin-bottom: 30px;
}

.sales img {
  width: 100%;
}
